<%= form_for @language do |f| %>

	<%= f.text_field :short, :placeholder => "short code", :size => 15, :tabindex => 1 %>
	<%= f.text_field :name, :placeholder => "language name", :tabindex => 2 %>
  <% if params[:action] == ( 'edit') || params[:action] == 'update' %>
    <%= f.submit "Update language" %>
  <% else %>
    <%= f.submit "Add language" %>  
  <% end %>
	
<% end %>

<p>Remember, short code of language must be unique.</p>

  <% if @language.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@language.errors.count, "error") %> prohibited new language from being saved:</p>
      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>