<%= form_for @language do |f| %>

	<%= f.text_field :short, :placeholder => "short code", :size => 15 %>
	<%= f.text_field :name, :placeholder => "language name" %>
	<%= f.submit "Add language" %>
	
<% end %>

  <% if @language.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@language.errors.count, "error") %> prohibited new language from being saved:</p>
      <ul>
      <% @language.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>