<% content_for :css do %>
<% end -%>

<% if @languages.empty? %>
	<%= render :partial => "nolang" %>
<% elsif @languages.length == 1 %>
	<%= render :partial => "onelang" %>
<% end %>

<div class="row">
	<div class=" ">
		<h3>Languages <%= link_to content_tag('i', ' ', :class => 'icon-cog'), languages_path, :class => 'action' %></h3>
		<% if @languages.empty? %>
			<p>No languages found.</p>
		<% else %>
			<p><%= pluralize(@languages.count, 'language') %> found.</p>
		<% end %>
	</div>

	<div class=" ">
		<h3>Dictionaries <%= link_to content_tag('i', ' ', :class => 'icon-cog'), dictionaries_path, :class => 'action' %> <span class="desc">
		<% if @dictionaries.empty? %>
			No dictionaries found.
		<% else %>
			<%= pluralize(@dictionaries.count, 'dictionary') %> found.
		<% end %></span></h3>
	</div>
</div>