<% content_for :js do %>
	<%= javascript_tag do %>

	$(function(){		
		$('#dictionaries-list').sortable({
			items: "li.drag",
			handle: '.handle',
			opacity: 0.7,
			update: function(){
				$.ajax({

					type: 'post',
					data: $('#dictionaries-list').sortable('serialize'),
					dataType: 'script',
					complete: function(request){
						$('#dictionaries-list').effect('highlight');
					},
					url: '/dictionaries/sort'
				})
			}
		});
		$('li.ui-state-disabled').disableSelection();
	});

	<% end %>
<% end %>

<% if @languages.empty? %>
	<%= render :partial => "nolang" %>
<% elsif @languages.length == 1 %>
	<%= render :partial => "onelang" %>
<% end %>

<div class="row">
	<% if !@dictionaries.empty? %>
	<h2>Choose dictionary</h2>

	<ul class="table" id="dictionaries-list">

			<% @dictionaries.each do |d| %>
			<li id="dictionary_<%= d.id %>" class="drag">
				<%
					from = Language.find(d.from)
					to = Language.find(d.to)
				%>
				<span><%= from.name %> &#x2192; <%= to.name %></span>
				<span class="right">

					<%= link_to ' ', '/'+ from.short + '/' + to.short + '/words', :class => 'icon-angle-right' %>

					<a href="#" class="icon-sort handle" title="move dictionary up or down"></a>
				</span>
			</li>

			<% end %>
		</ul>

		<p class="center_info"><i class="icon-sort"></i> &ndash; use it to reorder your dictionaries by simply clicking and dragging it to desired place</p>
	
	<% end %>

</div>