<% if @languages.empty? %>
	<%= render :partial => "nolang" %>
<% elsif @languages.length == 1 %>
	<%= render :partial => "onelang" %>
<% end %>


<div class="row">
	<div>

		<h3>Dictionaries
			<% if @languages.length > 1 %>
				<%= link_to 'Create new dictionary', new_dictionary_path, :class => 'right' %>
			<% end %>
		</h3>

			<% flash.each do |name, message| %>
				<div id="flash_<%= name %>">
					<i class="icon-info icon-2x icon-muted"></i>

					<%= message %>

					<a href="#" id="close_notice" class="icon-remove"></a>
				</div>
			<% end %>

		<% if @dictionaries.empty? %>
			<p>No dictionaries found.</p>
		<% else %>

		<ul class="table" id="dictionaries-list">
			
			<li class="header">
				<span>dictionary</span>
				<span class="right">actions</span>
			</li>
			<% @dictionaries.each do |d| %>
			<li id="dictionary_<%= d.id %>" class="drag">
				<%
					from = Language.find(d.from)
					to = Language.find(d.to)
				%>
				<span><%= from.name %> &#x2192; <%= to.name %></span>
				<span class="right">

					<!-- <%= link_to ' ', '/'+ from.short + '/' + to.short + '/words', :class => 'icon-search' %> -->

					<!-- <%= link_to ' ', d, :method => :delete, :class => 'icon-trash', :id => 'delete_'+d.id.to_s %> -->
					<%= link_to ' ', delete_dictionary_path(d), :class => 'icon-trash', :id => 'delete_' + d.id.to_s %> 
				</span>
			</li>

			<% end %>
		</ul>

		<% end %>

	</div>
</div>