<div class="row">
  <div>

<h2 class="bg">Add dictionary</h2>

<%= form_for @dictionary do |f| %>

	<%= collection_select('dictionary', 'from', @languages, 'id', 'name', {}) %>
	&#8644;
	<%= collection_select('dictionary', 'to', @languages, 'id', 'name', {}, {:class => 'margin-left'}) %>

	<%= f.submit "Add dictionary" %>

<% end %>


<p>You don't have to create two dictionaries, this will create two dictionaries: <br />
 eg. <i>english&#x2192;polish</i> and <i>polish&#x2192;english</i>.</p>

 <% if @dictionary.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@dictionary.errors.count, "error") %> prohibited new dictionary from being saved:</p>
      <ul>
      <% @dictionary.errors.each do |attr, msg| %>
          <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  </div>
</div>