<div class="row">
	<div>
		<h2 class="bg">Add new word: <span class="desc"><%= @from.name %> &#x2192; <%= @to.name %></span></h3>

		<%= form_for @word do |f| %>
			<%= f.hidden_field :lang_id, :value => @from.id %>
			<%= f.text_field :text, :placeholder => 'new word' %>
			<%= f.submit "Add word" %>
		<% end %>
	</div>
</div>

<% if @word.errors.any? %>
    <div id="error_explanation">
      <p><%= pluralize(@word.errors.count, "error") %> prohibited new word from being saved:</p>
      <ul>
      	<% @word.errors.each do |attr, msg| %>
	      	<li id="error_<%= attr %>"> <%= msg %></li>
      	<% end %>
      </ul>
    </div>
  <% end %>