<!DOCTYPE html>
<html>
<head>
  <title>Dictionario</title>
  <%= stylesheet_link_tag    "reset", "main", "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <%= yield :js %>
  <style type="text/css"><%= yield :css %></style>
</head>
<body>

	<div id="container">

		<div id="header">
			<h1>Dictionario</h1>

			<div class="utils">
				<input type="text" placeholder="Search" />  

			<%= render :partial => '/layouts/menu' %>
			</div>
		</div>

		<div id="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
