<!DOCTYPE html>
<html>
<head>
  <title>Dictionario</title>
  <%= stylesheet_link_tag    "reset", "main", "application", :media => "all" %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <%= javascript_include_tag "application", "https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js", "main" %>
  <%= csrf_meta_tags %>

  <%= yield :js %>
  <style type="text/css"><%= yield :css %></style>
</head>
<body>

	<div id="container">

		<div id="header">
			<h1><%=link_to 'Dictionario', root_path %></h1>

			<div class="utils">
				<% if params[:controller] == 'words' && ( params[:action] == 'index' || params[:action] == 'search') %>
					<%= form_tag search_words_path do |f| %>
						<%= text_field_tag 'search', params[:search], :placeholder => 'Search' %>
					<% end %>
				<% end %>
				<%= render :partial => '/layouts/menu' %>
			</div>
		</div>

		<div id="content">
			<%= yield %>
		</div>

		<%
			dictos = Dictionary.all
			langs = Language.all
		%>

		<div id="footer">
			<div class="left">
				<%= link_to content_tag('i', ' ', :class => 'icon-cog'), dictionaries_path, :class => 'action' %>
				<% if dictos.empty? %>
					The are no dictionaries.
				<% elsif langs.length == 1 %>
					There is 1 dictionary.
				<% else %>
					There are <%= pluralize(dictos.count, 'dictionary') %>.
				<% end %>
				
			</div>

			<div class="right">
				<% if langs.empty? %>
					There are no languages.
				<% elsif langs.length == 1 %>
					There is <%= pluralize(langs.count, 'language') %>.
				<% else %>
					There are <%= pluralize(langs.count, 'language') %>.
				<% end %>
				<%= link_to content_tag('i', ' ', :class => 'icon-cog'), languages_path, :class => 'action' %>
			</div>
		</div>
	</div>

</body>
</html>
